@import "tailwindcss";

@font-face {
    font-family: 'Supreme';
    src: url('../public/fonts/Supreme-Regular.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Supreme';
}